@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  /* background-color: #7871ff; 
  color: aliceblue;*/
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  vertical-align: center;
}
.clr {
  clear: both;
}
.top_header {
  background-color: #f8eeee;
  height: 40px;
  width: 100%;
  text-align: center;
  padding-top: 8px;
}
.top_header span {
  font-family: 'open+sans', 'sans-serif';
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 1px;
  line-height: 16.9px;
  text-transform: capitalize;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1281px;
}
.mt {
  margin-top: 30px;
}
.menu {
  cursor: pointer;
}
.logo_img {
  float: left;
  width: 200px;
  margin: 0px 10px;
  float: left;
  position: absolute;
}
.logo_img a {
  display: inline-block;
}
.logo_img a img {
  margin-top: 3px;
  width: 100%;
}
.input_sec {
  float: left;
  position: relative;
  left: 35%;
  width: 400px;
  height: 45px;
  border-radius: 6px;
  outline: 1px solid black;
  background: url(../Images/Search.gif);
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: normal;
}
.input_sec input {
  position: absolute;
  left: 0;
  content: '';
  width: 320px;
  margin-top: 10px;
  padding: 0px 5px;
  border-radius: 7px;
  font-size: 17px;
  border: none;
  outline: 0.5px solid black;
}
.icon_sec {
  width: 200px;
  float: right;
}
.icon_sec i {
  float: left;
  margin: 8px 8px;
  cursor: pointer;
}
.main_menu {
  margin-top: ;
  background-color: #b52025;
  height: 50px;
  width: 100%;
}
.nav_menu {
  color: #f8eeee;
  display: flex;
  gap: 20px;
  align-content: center;
  justify-items: center;
  padding-top: 10px;
  font-size: 22px;
  font-weight: 600px;
  font-family: sans-serif;
}
.Banner_images img {
  width: 100%;
  margin-top: 100px;
}
/* .list_style {
  margin: 0px 20px;
}
ol {
  margin-top: 10px;
  padding-left: 30px;
  list-style: none;
}
ol li {
  margin-top: 5px;
  position: relative;
  display: flex;
  align-items: center;
  counter-increment: numbers;
}
ol li::after {
  content: counter(numbers);
  border-radius: 50%;
  height: 16px;
  width: 16px;
  background-color: #0071ff;
  font-size: small;
  font-family: sans-serif;
  position: absolute;
  left: -23px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
}

.element_hover {
  margin: 20px 100px;
  color: #080a0b;
  height: 80px;
  width: 140px;
  padding: 10px 10px;
  background-color: aliceblue;
  cursor: pointer;
  transition: 3s all ease;
}
.element_hover:hover {
  box-shadow: 12px 12px 12px rgba(70, 65, 65, 0.1) inset,
    -10px -10px 10px rgb(63, 46, 46) inset;
}

#mycheckbox {
  display: none;
  border: 1px solid black;
  padding: 5px 5px;
}
button {
  background-color: aqua;
} */
